*{
    padding: 0;
    margin: 0;
}
h1{
    text-align: center;
}

 .carousel-item{
    max-height: 60vh;
} 
.carousel-item img{
    max-height: 60vh;
    object-fit:cover;
    /* height: 50vh; */
    
} 
.text{
    text-align: justify;
    font-size: 20px;
    font-style:oblique;
    border:none;
    width: 80%;
    float: inherit;
    margin-left: 10%;
    height: 8em;
    padding: 5px;
}
h2{
    text-align: center;
    color: green;

}
.pic{
    margin-left: 10%;
}