*{
    padding: 0;
    margin: 0;
}
h1{
    text-align: center;
}
.passage{
    text-align: justify;
    font-size: 25px;
}
.carousel{
    margin-left: 30%;
}
.p-box {
    border:none;
    width: 80%;
    float: inherit;
    margin-left: 10%;
    height: 8em;
    padding: 5px;
}
body{
    background-size: cover;
}
  