* {
  padding: 0;
  margin: 0;
}
body {
  background-size: cover;
}
.img {
  margin-top: 10%;
  margin-left: 30%;
}
.photo {
  margin-left: 0%;
  text-align: center;
  margin-top: -23%;
}
.photo img {
  border-radius: 50%;
}
.name {
  float: inline-start;
}
